@font-face {
  font-family: 'Gliker';
  src: url('Gliker-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Impede rolagem horizontal e espaços extras */
  height: 100%;
  }

.lista_home a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}

.ul_home {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista_home {
  color: #02373a;
  background: #dcefee; /* fundo AZUL CLARO */
  list-style-image: url("imagens/marcador.png");
  list-style-position: inside;
  font-size: 20px;
  font-family: now;
  padding: 15px 25px;
  margin-bottom: 30px; /* espaçamento entre blocos */
  border-radius: 20px;
  box-sizing: border-box;
}

.lista_home:first-child {
  margin-top: 30px;
}

.lista_home a:hover {
  color: #fca382;
}

#home {
  width: 50%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

#home img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#container {
  display: flex;
  align-items: stretch; /* imagem e conteúdo com mesma altura */
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  background-color: #668c61; /* cor de fundo externa */

}

#categorias {
  width: 50%;
  background: #668c61;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 30px 60px 30px; /* espaçamento interno mais generoso */
  box-sizing: border-box;
  gap: 20px;
}

/* Formatação da barra de navegação "História" */

.body_historia, .body_sobre {
  font-family: now;
  margin: 0;
  background-color: #f4e3dd;
  color: #668c60;
  position: relative;

}

.header_historia, .header_sobre {
  background-color: #ffffff;
  border: 0.5px solid #668c60;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 8px;
}

.logo img {
  height: 130px;
  min-width: 75px;
}

.menu {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.menu li a {
  text-decoration: none;
  color: #668c60;
  font-size: 23px;
  font-family: now;
}

.menu li a:hover {
  color: #fe8687;
}

.botao-sobre:hover {
  color: white !important;
  /* serve para que, ao passar o mouse sobre o botão, não aplique a mesma formatãção de todos os links normais */
}

.menu li a.active {
  color: #fe8687;
  border-bottom: 3px solid #fe8687;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

.duas-linhas {
  display: inline-block;
  text-align: center;
  line-height: 1.2;
}

.botao-sobre {
  margin-left: 20px;
  background-color: #fca382;
  color: #668c60;
  padding: 8px 18px;
  border: 6px solid #fca382;
  border-radius: 25px;
  text-decoration: none;
}

/* Formatação do conteúdo da página "História"*/
#vidraria {
  position: absolute;
  top: 10px;
  left: 0;
  height: auto;
  max-height: 20vh;
  z-index: -1;
}

#silhueta {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 48vh;
  z-index: -1;
  opacity: 0.6;
}

#tabela-periodica {
  position: fixed;
  right: 1%;
  bottom: 0;
  height: 98vh;
  z-index: -1;
  opacity: 0.6;
}

.conteudo-historia {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.titulo-historia {
  font-family: 'Gliker', sans-serif;
  font-size: 3em;
  color: #668c60;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  background-image: url('imagens/detalhe-titulo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 30px 0;
}

.introducao-historia, .historia-instituicoes {
  font-size: 1.2em;
  text-align: justify;
  line-height: 1.8;
  color: #668c60;
  margin-bottom: 10px;
}

.imagem-marie-curie {
  height: 120px;
  min-width: 75px;
  opacity: 0.5;
  transition: 400ms;
}

.imagem-marie-curie:hover {
  opacity: 1;
}

.container-marie-curie, .container-marie-curie-instituicoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.legenda-marie-curie {
  margin: 0;
  margin-top: 7px;
  font-family: 'Gliker', sans-serif;
  font-size: 25px;
  color: #668c60;
  text-align: center;
}

.data-marie-curie {
  margin: 0;
  font-family: 'Gliker', sans-serif;
  font-size: 20px;
  color: #668c60;
  text-align: center;
}

.video-marie-curie {
  margin-bottom: 40px;
}

.lista-instituicoes {
  text-align: justify;
}

.li-instituicoes {
  margin-bottom: 10px;
  font-size: 20px;
}

.mapa-borges-da-costa {
  margin-bottom: 100px;
}

iframe{
  box-shadow: 10px 10px 5px #fca382;
}


/* Formatação do conteúdo da página "Sobre nós"*/
.botao-sobre-selecionado {
  white-space: nowrap;
  display: inline-block; 
  box-sizing: border-box;
  margin-left: 20px;
  background-color: #fca382;
  color: #668c60;
  padding: 8px 18px;
  border: 6px solid #668c60;
  border-radius: 30px;
  text-decoration: none;
}

.botao-sobre-selecionado:hover {
  color: white !important;
  /* serve para que, ao passar o mouse sobre o botão, não aplique a mesma formatãção de todos os links normais */
}

.quem-desenvolveu-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.quem-desenvolveu-texto {
  flex: 1;
  min-width: 300px;
}

.conteudo-quem-desenvolveu {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  position: relative;
}

.titulo-quem-desenvolveu, .titulo-formulario {
  width: 300px;
  font-family: 'Gliker', sans-serif;
  font-size: 1.5em;
  color: #668c60;
  margin-bottom: 10px;
  position: relative;
  background-image: url('imagens/detalhe-titulo.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  padding: 30px 30px 30px 20px;
  text-align: center;
}

.nome-quem-desenvolveu {
  margin-top: 5px;
  font-size: 1.8em;
  text-align: left;
}

.introducao-quem-desenvolveu {
  font-size: 1.2em;
  max-width: 750px;
  text-align: justify;
  line-height: 1.8;
  color: #668c60;
  margin-bottom: 10px;
}

.titulo-contato {
  width: 300px;
  font-family: 'Gliker', sans-serif;
  font-size: 1.8em;
  color: #668c60;
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
  background-image: url('imagens/detalhe-titulo.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  padding: 30px;
  text-align: center;
}

.contatos {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 25px;
}

.contatos a {
  color: inherit;
  text-decoration: none;
}

.contatos li {
  display: flex;
  align-items: center;
  color: #668c60;
  font-size: 16px;
  margin: 10px 0;
}

.contatos img {
  width: 20px;
  margin-right: 10px;
}

.imagem-quem-desenvolveu {
  flex-shrink: 0;
  max-width: 300px;
  align-self: flex-start;
}

.imagem-quem-desenvolveu img {
  width: 100%;
  height: auto;
  display: block;
}

.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

form {
  margin: 20px 0;
}


form label, form legend {
  color: #668c60;
  font-family: now;
  display: block;
  text-align: left;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  font-family: now;
  background: #dcefee;
  display: block;
  margin: 0 0 20px;
  padding: 10px 20px;
  width: 70%;
  border: 2px solid #668c60;
  border-radius: 25px;
}

.horario {
  margin-top: 10px;
}

option, select {
  color: #668c60;
  padding: 5px;
  border-color: #668c60;
  border-radius: 5px;
  width: 100px;
  font-family: now;
  background: #dcefee;
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  font-family: now;
  width: 40%;
  padding: 15px 0;
  background-color: #fca382;
  color: #668c60;
  font-weight: bold;
  font-size: 20px;
  border: 3px solid #668c60;
  border-radius: 25px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  font-family: now;
  background: #fca382;
  border: 3px solid #668c60;
  border-radius: 25px;
  color: white;
  transform: scale(1.2);
}

@media screen and (max-width: 480px) {

  main, .container, .mapa-borges-da-costa, .video-marie-curie{
    width: auto;
  }
  h1 {
    text-align: center;
  }
  nav {
    position: static;
  }

  #container {
    flex-direction: column;
    align-items: stretch; 
    background-color: #668c61;
    width: 100%;
    min-height: 100vh;
  }

  #home, #categorias {
    width: 100%;
  }

  #home {
    height: auto;
  }

  #categorias {
    margin: 0; 
    padding: 20px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #668c61;
    box-sizing: border-box;
    gap: 20px;
  }

  .ul_home {
    list-style-image: url("imagens/marcador.png");
    list-style-position: inside;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .lista_home {
    background: #dcefee;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0;
    border-radius: 20px;
  }

  .lista_home:not(:last-child) {
      margin-bottom: 20px;
  }

  .lista_home a {
    white-space: normal; 
    display: inline; 
    text-align: left;
  }


  .header_historia .nav, .header_sobre .nav {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo {
    text-align: center;
    margin-bottom: 10px;
  }

  .logo img {
    height: 100px;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
  }

  .botao-sobre-selecionado {
    width: 100%;
    margin-left: 0;
    white-space: normal; /* para permitir quebra no mobile */
    text-align: center;
  }

  .menu li {
    flex: 1 1 30%; /* Para caber 3 na primeira linha e 4 na segunda */
    text-align: center;
  }

  .menu li a {
    font-size: 16px;
    padding: 5px;
    display: inline-block;
  }

  .botao-sobre {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  #vidraria {
    top: 10px;
    display: block;
    width: auto;
    max-width: 120px;
    max-height: 8vh;
    margin: 0 auto 10px auto;
  }

  #silhueta {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 18vh;
  z-index: -1;
  opacity: 0.4;
  }

  #tabela-periodica {
    position: fixed;
    right: 1%;
    bottom: 0;
    height: 38vh;
    z-index: -1;
    opacity: 0.4;
  }

  .mobile-only {
    display: block;
    margin: 20px auto;
    max-width: 200px;
  }

  .mobile-only img {
    width: 100%;
    height: auto;
    display: block;
  }

  .desktop-only img{
    display: none;
  }

  .quem-desenvolveu-container {
    flex-direction: column !important; 
    flex-wrap: nowrap !important; 
    align-items: center;
  }

  .imagem-quem-desenvolveu {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .quem-desenvolveu-texto {
    order: 0;
    width: 100%;
  }

  .nome-quem-desenvolveu {
    font-size: 1.5em; 
  }

  .titulo-quem-desenvolveu, .titulo-formulario, .titulo-contato { 
    margin-left: auto; 
    margin-right: auto; 
    background-position: center;
  }

  form label, form legend {
    font-size: 15px;
  }

  .enviar {
    width: 70%;
  }

  .input-padrao,
  textarea {
    width: 100%;
    box-sizing: border-box; 
  }

  form {
    padding: 0 10px; 
  }

}